@import "tailwindcss";

@font-face {
  font-family: 'Horizon';
  src: url('/horizon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Horizon', sans-serif;
  }
}
